.about {
  display: grid;
  max-width: 48rem;
  margin: 0 auto;
  grid-gap: 2rem;
  grid-template-columns: 10rem 1fr;
}

.about__bio {
  @include bst-wide;
  font-size: 1.6rem;
  align-self: center;
  text-align: left;
}

.about__image {
  @include bg-image('checkers-purple.png');
  display: block;
  width: 10rem;
  height: 10rem;
  background-size: cover;
  border-radius: 100%;
}

.about__title {
  @include bst-wide;
}

.about__wrapper {
  padding: 10rem 2rem;
  position: relative;
  margin: 0 auto;
  background: white;
  text-align: center;
}

@media (max-width: $mobile) {
  .about {
    position: static;
    grid-gap: 0;
    grid-template-columns: 1fr;
    transform: none;
  }

  .about__bio {
    @include bst-wide;
    font-size: 1.6rem;
    align-self: center;
  }

  .about__image {
    @include bg-image('checkers-purple.png');
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem auto;
    background-size: cover;
    border-radius: 100%;
  }

  .about__title {
    margin-bottom: 2rem;
  }
}
