.project {
  @include center-xy;
  display: grid;
  width: 128rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

.projects {
  position: relative;
  background: $off-white;
}

.project__description {
  @include bst-wide;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.project__image {
  max-width: 64rem;
}

.project__info {
  padding: 0 2rem;
  background: $off-white;
}

.project__subtitle {
  @include bst-wide;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.project__title {
  @include bst;
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
}

.project__url {
  @include bst-wide;
  position: absolute;
  bottom: 2rem;
  font-size: 1.6rem;
  text-decoration: underline;
}

.project-vh {
  height: 100vh;
}

@media (max-width: $laptop) {
  .project {
    position: static;
    top: 0;
    left: 0;
    width: auto;
    transform: none;
  }

  .project__image {
    max-width: 100%;
    height: auto;
  }

  .project__url {
    position: static;
    bottom: 0;
  }

  .project-vh {
    height: auto;
  }
}

@media (max-width: $tablet) {
  .project {
    max-width: 128rem;
    position: static;
    width: 100%;
    grid-template-columns: 1fr;
    transform: none;
  }

  .project__image {
    width: 100%;
    height: auto;
  }

  .project__info {
    padding: 2rem;
  }

  .project__url {
    position: static;
  }

  .project-vh {
    height: auto;
  }

  .projects {
    position: relative;
  }

  .section__title {
    display: none;
  }
}
